.spain-cover-img{
    position: relative;
}
.pakage-overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(48,79,71,.6);
        display: flex;
        justify-content: center;
        align-items: center;
    
}
.left-right-icon{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
}
.slick-prev:before, .slick-next:before {
    display: none;
}
.slider-left-right-icon{
    cursor: pointer;
    border: 2px solid;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    padding: 3px;
}
.slider-left-right-icon:hover{
    transform: scale(1.1);
    transition: .6s;
}