.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
  }
.form-control:focus {
  border-color: #ff00cc ;
  box-shadow: 0 0 0 0.25rem rgb(255 0 204 / 25%);
}
.card:hover{
  transform: translate(0, -5px) !important;
  transition: 600ms;
}
.banner-border-radius{
  border-radius: 45px;
}
.cpt-5{
  padding-top: 5rem;
}